:root {
	--bs-navbar-toggler-border-color: red !important;
}


* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #212529FF;
	transition: ease-in-out 0.3s all;
	-webkit-transition: ease-in-out 0.3s all;
	-moz-transition: ease-in-out 0.3s all;
	-ms-transition: ease-in-out 0.3s all;
	-o-transition: ease-in-out 0.3s all;
	&.chaos{
		background-color: #1ff500;
		.text-myYellow, .text-pup, .myYellow {
			background: linear-gradient(75deg, #e51c06 0%, #10bdb4 50%, #9014b9 75%, #F9D423 100%);
			
		}

	}

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}

* { --bs-navbar-color:#E8E880FF !important; }
* { --bs-navbar-toggler-border-color:#E8E880FF !important; }